<!-- Mobile Device Restriction -->
<div class="mobile-warning" *ngIf="isMobile">
  <img
    src="../assets/icons/athena_square_blue.png"><br>
    <h1>Uh-oh!</h1>
  It seems you're using a mobile device. Owls don't like mobile devices and neither does Athena :( <br> Please switch to a Desktop Computer.
</div>


<!-- Main Content -->
<mat-toolbar 
  class="top-menu" 
  ngClass="{{env}}">

  <div class="brand">
    <a routerLink="dashboard">

      <span class="brand">
        <img src="../assets/icons/athena_banner_blue_smal.png">
      </span>

      <div 
        class="env-indicator" 
        ngClass="{{env}}">
          {{envLabel}}
      </div>

    </a>
  </div>

  <div class="spacer"></div>
  <div class="menu">

    <a 
      routerLink="dashboard" 
      class="main_underline">
        Dashboard
    </a>

    <a 
      routerLink="init" 
      class="main_underline">
        Init
    </a>

    <a 
      routerLink="flow" 
      class="main_underline">
        Flow
    </a>

    <a 
      routerLink="apis" 
      class="main_underline"> 
        Api
    </a>

    <a 
      routerLink="kafka" 
      class="svg-icon" 
      class="main_underline">
        Kafka
    </a>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>

<div class="floater">

  <a 
    href="https://goo.gl/forms/INPg8sXekRkKnJPT2" 
    target="_blank">
    <mat-icon>bug_report</mat-icon>
      &nbsp;&nbsp;Request Feature / Raise Bug
  </a>

</div>
